//Colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$gray-color-light-1: #f7f7f7;

$gray-color: #777;
$white-color: #fff;
$black-color: #000;

//Font Sizes
$default-font-size: 1.6rem;


//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

