//Colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$gray-color-light-1: #f7f7f7;
$gray-color-light-2: #eee;

$gray-color: #777;
$gray-color-dark: #999;
$gray-color-dark-2: #333;

$white-color: #fff;
$black-color: #000;


//Font Sizes
$default-font-size: 1.6rem;


//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

